<?xml version="1.0" encoding="utf-8"?>
<!-- O atributo `package` saiu daqui: hoje o nome do pacote vem do `namespace`
     declarado no app/build.gradle.kts. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_treino"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TreinoApp">

        <!-- exported=true e obrigatorio para a activity com intent-filter de
             LAUNCHER desde a API 31. -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
